#spring:
#  data:
#    mongodb:
#      uri: mongodb+srv://jarqprog:1234@jqmongodb-qzcsq.mongodb.net/test?retryWrites=true&w=majority


#spring.datasource.hikari.connectionTimeout=20000
#spring.datasource.hikari.maximumPoolSize=3
#
#spring.r2dbc.url=r2dbc:postgresql://xbwfxhqy:e0MXV1IHzzp-tbchmL7Ukv5Hk55R3KcH@kandula.db.elephantsql.com:5432/xbwfxhqy
##spring.r2dbc.initialization-mode=always
##spring.r2dbc.lock_timeout=1m
##spring.r2dbc.statement_timeout=10s
#spring.main.web-application-type=reactive
#
#spring.r2dbc.pool.initial-size=3
#spring.r2dbc.pool.max-size=4
##spring.r2dbc.pool.max-idle-time=30m
##spring.r2dbc.pool.validation-query=SELECT 1